<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Managing Formateur</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" >
      <div class="container-fluid" id ="main-container">
        <div class="row">
          <div class="col-12">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  List of Formateur
                </h3>
                <div class="card-tools">
                  <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                    <form class="form-inline my-2 my-lg-0">
                      <input type="search" (ngModelChange)="searchFormateurs(key.value)" #key="ngModel" name="key" ngModel id="searchName" class="form-control mr-sm-2" placeholder="Search Formateur..." required>
                   </form>
                    <button id="test" (click)="onOpenModal(null,'add')" class ='btn btn-primary active' type="button"  data-toggle="modal" data-target="#CreateTeam"><i class="fas fa-plus-circle"></i> Ajouter</button>
                  </div>
                </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table #dataTable class="table table-bordered table-hover">
                  <thead>
                    <tr>
                        <th>Nom:</th>
                        <th>Prenom :</th>
                        <th>Email :</th>
                        <th>N° Tel :</th>
                        <th>Type :</th>
                        <th>Organisme :</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let formateur of formateurs">
                        <td>{{formateur.nom}}</td>
                        <td>{{formateur.prenom}}</td>
                        <td>{{formateur.email}}</td>
                        <td>{{formateur.tel}}</td>
                        <td>{{formateur.type}}</td>
                        <td>{{formateur.organisme.libelle}}</td>
                      <td>
                        <!-- Example single danger button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Action</button>
                          <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" (click)="onOpenModal(formateur,'edit')">Edit</a>
                              <a class="dropdown-item" (click)="onOpenModal(formateur,'editOrganisme')">Change Organisme</a>
                              <a class="dropdown-item"(click)="onOpenModal(formateur,'delete')">Delete</a>
                            </div>
                          </button>
                        </div>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <div class="modal fade" id="addFormateurModal" tabindex="-1" role="dialog" aria-labelledby="addFormateurModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addFormateurModalLabel">Add Formateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddFormateur(addForm)">
            <div class="form-group">
               <label for="name">Nom* : </label>
               <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="First name" required>
            </div>
            <div class="form-group">
              <label for="name">Prénom* : </label>
              <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="Last name" required>
           </div>
           <div class="form-group">
            <label for="name">Email* : </label>
            <input type="text" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
           </div>
            <div class="form-group">
             <label for="name">N°Tél* : </label>
             <input type="number" ngModel name="tel" class="form-control" id="tel" placeholder="Numéro de Téléphone" required>
            </div>
            <div class="form-group">
                <label>Type* : </label>
                <select class="custom-select" ngModel name="type" required>
                    <option *ngFor="let type of types"  value="{{type}}">{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Organisme* : </label>
                <select class="custom-select" ngModel name="organisme">
                    <option *ngFor="let organisme of organismes"  [ngValue]="organisme">{{organisme.libelle}}</option>
                </select>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-formateur-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="updateFormateurModal" tabindex="-1" role="dialog" aria-labelledby="FormateurEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="updateFormateurModalLabel">Edit Formateur d'ID: {{editFormateur?.id}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <form #editForm = "ngForm">
                  <input type="hidden" ngModel={{editFormateur?.id}} name="id" class="form-control" id="id">
                  <div class="form-group">
                    <label for="name">Nom : </label>
                    <input type="text" ngModel={{editFormateur?.nom}} name="nom" class="form-control" id="nom" placeholder="First name">
                 </div>
                 <div class="form-group">
                   <label for="name">Prénom : </label>
                   <input type="text" ngModel={{editFormateur?.prenom}} name="prenom" class="form-control" id="prenom" placeholder="Last name" >
                </div>
                <div class="form-group">
                 <label for="name">Email : </label>
                 <input type="text" ngModel={{editFormateur?.email}} name="email" class="form-control" id="email" placeholder="Email">
                </div>
                 <div class="form-group">
                  <label for="name">N°Tél : </label>
                  <input type="number" ngModel={{editFormateur?.tel}} name="tel" class="form-control" id="tel" placeholder="Numéro de Téléphone" >
                 </div>
                 <div class="form-group">
                    <label>Type* : </label>
                    <select class="custom-select" ngModel={{editFormateur?.type}} name="type">
                        <option *ngFor="let type of types"  value="{{type}}">{{type}}</option>
                    </select>
                </div>
                  <div class="modal-footer">
                      <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                      <button (click)="onUpdateFormateur(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
                 </form>
              </div>
           </div>
        </div>
      </div>

      <div class="modal fade" id="updateFormateurOrganismeModal" tabindex="-1" role="dialog" aria-labelledby="FormateurOrganismeEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="updateFormateurOrganismeModalLabel">Edit Organisme : {{editFormateur?.organisme.libelle}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <form #editForm3 = "ngForm">
                  <input type="hidden" ngModel="{{editFormateur?.id}}" name="id" class="form-control" id="id">
              <div class="form-group" required>
                <label>Organisme : </label>
                <select ngModel="{{editFormateur?.organisme}}" name="organisme" class="custom-select">
                  <option *ngFor="let organisme of organismes"  [ngValue]="organisme">{{organisme.libelle}}</option>
                </select>
              </div>
              
                  <div class="modal-footer">
                      <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                      <button (click)="onUpdateFormateurOrganisme(editForm3.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                  </div>
                 </form>
              </div>
           </div>
        </div>
      </div>

      <div class="modal fade" id="deleteFormateurModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="deleteModelLabel">Delete Formateur : {{deleteFormateur?.nom}} {{deleteFormateur?.prenom}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <p>Are you sure you want to delete Formateur {{deleteFormateur?.nom}} {{deleteFormateur?.prenom}}</p>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteFormateur(deleteFormateur?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                 </div>
              </div>
           </div>
        </div>
      </div>
