<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
      <span class="brand-text font-weight-light"> Mini Projet Formations</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://st2.depositphotos.com/1002277/5515/i/950/depositphotos_55150353-stock-photo-admin-cubics.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">ADMIN PLATEFORM</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/participant_management"class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Participant Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/referee_management" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Former Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Formation Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Sessions Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/pays_management" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Pays Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/organisme_management" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Organisme Management
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

